$cyan: rgb(61 76 116);
$yellow: #ffeb3b;
$grey: #9e9e9e;

$num-of-tabs: 3;

@mixin tabs {
  @for $i from 1 through $num-of-tabs {
    &:nth-of-type(#{$i}) {
      &:checked {
        ~ .slide {
          left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
        }
      }
    }
  }
}

html,
body {
  width: 100%;
}

h1 {
  font-size: 26px;
  background: $cyan;
  color: white;
  line-height: normal;
  margin-top: 0;
  padding: 40px 0 45px 20%;
  margin-bottom: 50px;
}

h2 {
  line-height: normal;
}

label,
p,
a,
h1,
div {
  font-family: Roboto, sans-serif;
}

.tab-wrap {
  width: 85%;
  margin: auto;
  position: relative;
  display: flex;
  top: -106px;
}

input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
  &:checked {
    + .tab-label-content {
      label {
        color: white;
      }
      .tab-content {
        display: block;
      }
    }
  }
  @include tabs;
  &:first-of-type {
    &:checked {
      ~ .slide {
        left: 0;
      }
    }
  }
}

label {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  background-color: $cyan;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 56px;
  transition: color 0.2s ease;
  width: 100%;
}

.slide {
  background: $yellow;
  width: calc(100% / #{$num-of-tabs});
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;
  .tab-content {
    position: absolute;
    top: 100px;
    left: 16px;
    line-height: 130%;
    display: none;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    padding: 40px 0 40px 10%;
  }
  .tab-wrap {
    width: 80%;
    margin-left: 10%;
    top: -106px;
  }
}

// Table design
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #c9d0d57d;
  border: 1px solid #917f8d;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: start;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  table {
    border: 0;
  }
  .text-center {
    text-align: left;
  }
  .tab-content {
    left: 0 !important;
  }
  .viewDetails {
    margin: 0 !important;
    margin-bottom: 20px !important;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.viewDetails {
  margin: 50px;
  border: 1px solid rgb(37 179 179);
  border-radius: 15px;
  padding: 20px;
  box-shadow: -11px -10px 20px 0px #0000001a,
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.modifyInput {
  border: 1px solid grey;
  padding: 15px 20px;
  border-radius: 9px;
  width: 80%;
  background: rgba(255, 255, 255, 0.1);
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.saveBtn {
  padding: 4px 13px;
  color: #fff;
  font-size: 16px;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.596);
  background: #3d5ec1;
}

.cancelBtn {
  padding: 4px 13px;
  color: black;
  font-size: 16px;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.596);
  background: orange;
}

.deleteBtn {
  padding: 4px 13px;
  color: #fff;
  font-size: 16px;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.596);
  background: red;
}

button {
  cursor: pointer;
}

.text-center {
  text-align: center;
}
