<div class="setHeader">
    <h1 class="">Eduhub - Educator Dashboard</h1>
    <a class="setUserName float-right nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{userName}}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="d-flex justify-content-center" (click)="logOut()">Logout <mat-icon>power_settings_new</mat-icon> </a>
    </div>

</div>
<div class="divContent">

    <div class="tab-wrap">
        <ng-container *ngIf="userDetails.role == 'Educator'">
            <input type="radio" name="tabs" id="tab1" (change)="changeTab('tab1')" [checked]="selectedTab === 'tab1'">
            <div class="tab-label-content" id="tab1-content">
                <label for="tab1">Student</label>
                <div class="tab-content">
                    <app-student></app-student>
                </div>
            </div>
        </ng-container>
        <input type="radio" name="tabs" id="tab3" (change)="changeTab('tab3')" [checked]="selectedTab === 'tab3'">
        <div class="tab-label-content" id="tab3-content">
            <label for="tab3">Course</label>
            <div class="tab-content">
                <app-course-all></app-course-all>
            </div>
        </div>
        <input type="radio" name="tabs" id="tab2" (change)="changeTab('tab2')" [checked]="selectedTab === 'tab2'">
        <div class="tab-label-content" id="tab2-content">
            <label for="tab2">My Courses</label>
            <div class="tab-content">
                <app-course></app-course>
            </div>
        </div>
        <ng-container *ngIf="userDetails.role != 'Educator'">
            <input type="radio" name="tabs" id="tab4" (change)="changeTab('tab4')" [checked]="selectedTab === 'tab4'">
            <div class="tab-label-content" id="tab4-content">
                <label for="tab4">Enquiry</label>
                <div class="tab-content">
                    <app-all-enquiry></app-all-enquiry>
                </div>
            </div>
        </ng-container>

        <!-- <input type="radio" name="tabs" id="tab3" (change)="changeTab('tab3')" [checked]="selectedTab === 'tab3'">
        <div class="tab-label-content" id="tab3-content">
            <label for="tab3">Material</label>
            <div class="tab-content">
                <app-material></app-material>
            </div>
        </div> -->

        <!-- <input type="radio" name="tabs" id="tab4" (change)="changeTab('tab4')" [checked]="selectedTab === 'tab4'">
        <div class="tab-label-content" id="tab4-content">
            <label for="tab4">Enquiry</label>
            <div class="tab-content">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 5%;" scope="col">No</th>
                            <th style="width: 15%;" class="text-center" scope="col">Course Id</th>
                            <th style="width: 40%;" scope="col">Enquiry</th>
                            <th style="width: 30%;" class="text-center" scope="col">Date</th>
                            <th style="width: 10%;" class="text-center" scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of studentsCourseData">
                            <td data-label="No">{{data.id}}</td>
                            <td class="text-center" data-label="Course Id">{{data.courseId}}</td>
                            <td data-label="Enquiry">{{data.enquiry}}</td>
                            <td class="text-center" data-label="Requested date">{{data.requestDate}}</td>
                            <td class="text-center" data-label="View">
                                <img width="20" src="../../../assets/view.png" (click)="viewEnquiry(data.id)">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="viewEnquiryData.length > 0" class="viewDetails" id="viewDetails">
                    <h2>Course Id: {{viewEnquiryData[0].courseId}}</h2>
                    <p>{{viewEnquiryData[0].enquiry}}</p>
                    <h4>Enquired on : {{viewEnquiryData[0].requestDate}}</h4>
                </div>
            </div>
        </div> -->
        <div class="slide"></div>
    </div>
</div>