<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label
      for="tab-1"
      class="tab"
      >Sign In</label
    >
    <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
      for="tab-2"
      class="tab"
      >Sign Up</label
    >
    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label"
            >Username <span class="required-symbol">*</span></label
          >
          <input
            id="user"
            type="text"
            class="input"
            [(ngModel)]="loginReqObj.username"
          />
        </div>
        <div class="group">
          <label for="pass" class="label"
            >Password<span class="required-symbol">*</span></label
          >
          <input
            id="pass"
            type="password"
            class="input"
            data-type="password"
            [(ngModel)]="loginReqObj.password"
          />
        </div>
        <div class="group">
          <input
            type="submit"
            (click)="loginAndGoToDashboard()"
            class="button"
            value="Sign In"
          />
        </div>
      </div>
      <div class="sign-up-htm">
        <div class="group">
          <label for="username" class="label"
            >Username<span class="required-symbol">*</span></label
          >
          <input
            id="username"
            type="text"
            class="input"
            required
            [(ngModel)]="regReqObj.username"
          />
        </div>
        <div class="group">
          <label for="email" class="label"
            >Email<span class="required-symbol">*</span></label
          >
          <input
            id="email"
            type="email"
            class="input"
            required
            [(ngModel)]="regReqObj.email"
          />
        </div>
        <div class="group">
          <label for="pass" class="label"
            >Password<span class="required-symbol">*</span></label
          >
          <input
            id="pass"
            type="password"
            class="input"
            required
            [(ngModel)]="regReqObj.password"
          />
        </div>
        <div class="group">
          <label for="phone" class="label"
            >Phone Number<span class="required-symbol">*</span></label
          >
          <input
            id="phone"
            type="text"
            class="input"
            required
            [(ngModel)]="regReqObj.mobileNumber"
          />
        </div>
        <div class="group">
          <label for="role" class="label"
            >Role<span class="required-symbol">*</span></label
          >
          <select id="role" class="input" required [(ngModel)]="regReqObj.role">
            <option value="">Select a role</option>
            <option value="Educator">Educator</option>
            <option value="Student">Student</option>
          </select>
        </div>
        <div class="group">
          <label for="image" class="label"
            >Select File<span class="required-symbol">*</span></label
          >
          <input
            id="image"
            type="file"
            class="input"
            accept="image/*"
            required
            (change)="handleFileInput($event)"
            [(ngModel)]="regReqObj.profileImage"
          />
        </div>
        <div class="group">
          <input
            type="submit"
            class="button"
            value="Sign Up"
            (click)="registerUser()"
          />
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <label for="tab-1">Already Member?</label>
        </div>
      </div>
    </div>
  </div>
</div>
