<div class="divContent">
    <h1></h1>
    <div class="tab-wrap">
        <div class="tab-label-content">
           <button class="saveBtn float-right"  *ngIf="userDetails.role == 'Educator'"  data-toggle="modal" data-target="#exampleModal" (clicl)="openModel()">Add
                Course</button>
            <div class="tab-content">
                <div class="example-header">
                    <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                  </div>
                  <div class="example-container mat-elevation-z8">
                    <mat-table [dataSource]="dataSource" matSort>
                      <!-- <ng-container matColumnDef="_id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row._id}} </mat-cell>
                      </ng-container> -->
                      <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="category">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.category}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="level">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Level</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.level}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="courseStartDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.courseStartDate  | date: 'yyyy-MM-dd'}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="courseEndDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>End Date </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.courseEndDate  | date: 'yyyy-MM-dd'}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Action </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <a (click)="viewCourse(row)" class="p-2"> <img width="20" src="../../../assets/view.png"> </a> 
                            <a (click)="EditData(row)"  *ngIf="userDetails.role == 'Educator'" data-toggle="modal" data-target="#exampleModal"> <img width="20" src="../../../assets/edit.svg"> </a> 
                            <a (click)="deleteCourse(row)"  *ngIf="userDetails.role == 'Educator'" class="p-2"><img width="20" src="../../../assets/trash.png"></a> 
                        </mat-cell>
                    </ng-container>

                   
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;">
                      </mat-row>
                    </mat-table>

                    <div  class="d-flex justify-content-center p-5"  *ngIf="courseData.length == 0">
                        No records found
                     </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
                  
               </div>
            <div *ngIf="viewCourseDataShow" class="viewDetails" id="viewCourse">
                <h2>Title : {{viewCourseData?.title}}</h2>
                <p>Description : {{viewCourseData?.description}}</p>
                <p>Start Date : {{viewCourseData?.category}}</p>
                <p>Level : {{viewCourseData?.level}}</p>
                <p>course Start Date : {{viewCourseData?.courseStartDate | date: 'yyyy-MM-dd'}}</p>
                <p>course End Date : {{viewCourseData?.courseEndDate | date: 'yyyy-MM-dd'}}</p>
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Material"><app-material [courseID]="courseID"></app-material></mat-tab>
                    <mat-tab label="Enrollments"><app-enrollments [courseID]="courseID"></app-enrollments></mat-tab>
                    <mat-tab label="Enquiry"><app-enquiry [courseID]="courseID"></app-enquiry></mat-tab>
                  </mat-tab-group>
             </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">{{isEdit == true ?  'Edit' : 'Add New'}} Course</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user-login" [formGroup]="courseForm">
                    <div class="sign-in-htm">
                        <div class="form-group">
                            <label for="title" class="label">Title <span class="required-symbol">*</span></label>
                            <input id="title" type="text"  class="form-control"  formControlName="title" required>
                            <div *ngIf="submitted && courseForm.controls.title.errors?.required"
                                class="text-danger mt-1">
                                <div *ngIf="courseForm.controls.title.errors?.required">Title is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="label">Description<span class="required-symbol">*</span></label>
                            <textarea class="form-control" id="description" rows="3" formControlName="description" required></textarea>
                            <div *ngIf="submitted && courseForm.controls.description.errors?.required"
                                class="text-danger mt-1">
                                <div *ngIf="courseForm.controls.description.errors?.required">Description is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category" class="label">category<span class="required-symbol">*</span></label>
                            <input id="category" class="form-control" type="text" formControlName="category" required>
                            <div *ngIf="submitted && courseForm.controls.category.errors?.required"
                                class="text-danger mt-1">
                                <div *ngIf="courseForm.controls.category.errors?.required">
                                    category is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label for="stratDate" class="label">StartDate<span class="required-symbol">*</span></label>
                                <mat-form-field appearance="outline">
                                    <input matInput formControlName="courseStartDate" 
                                           [matDatepicker]="releasedAtPicker" (click)="releasedAtPicker.open()">
                                  <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
                                  </mat-datepicker-toggle>
                                    <mat-datepicker #releasedAtPicker>
                                   </mat-datepicker>
                                  </mat-form-field>
                             </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label for="stratDate" class="label">EndDate<span class="required-symbol">*</span></label>
                                <mat-form-field appearance="outline">
                                    <input matInput formControlName="courseEndDate" 
                                           [matDatepicker]="releasedAtPicker1"(click)="releasedAtPicker1.open()">
                                  <mat-datepicker-toggle matSuffix [for]="releasedAtPicker1"> </mat-datepicker-toggle>
                                    <mat-datepicker #releasedAtPicker1>
                                   </mat-datepicker>
                                  </mat-form-field>
                              </div>
                        </div>
                        <div class="form-group">
                            <label for="level" class="label">Level<span class="required-symbol">*</span></label>
                            <select id="level"  class="form-control" formControlName="level" required>
                                <option value="">Select a level</option>
                                <option value="Beginner">Beginner</option>
                                <option value="Intermediate">Intermediate</option>
                                <option value="Advanced">Advanced</option>
                            </select>
                            <div *ngIf="submitted && courseForm.controls.level.errors" class="text-danger">
                                <div *ngIf="courseForm.controls.level.errors.required">Please select level is required.</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancelBtn" data-dismiss="modal">Close</button>
                <button type="button" class="saveBtn" (click)="addCourseData()"  data-dismiss="modal">{{isEdit ==  true ? 'Edit' :  'Save'}}</button>
            </div>
        </div>
    </div>
</div>