/* You can add global styles to this file, and also import other style files */
.required-symbol {
  color: red; /* or any other color you prefer */
  margin-left: 3px; /* Add some spacing between the label text and the "*" symbol */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button {
  cursor: pointer;
}